{% extends 'base.html' %}
{% block content %}
{%load static%}

    <!-- START PAGE HEAD SECTION -->
    <section class="page-head">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-title">
                        <h3>Mission & Vision</h3>
                    </div>
                </div>
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Mission & Vision</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    {%for mission in missions%}
    <section class="vmv-sections mission-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-6 order-md-2">
                    <div class="mission-img">
                        <img src={{mission.master.img.url}} alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-6 order-md-1">
                    <div class="mission-box">
                        <div class="header">
                            <h6>
                                {{mission.title}}
                            </h6>
                        </div>
                        <div class="content">
                            <p>{{mission.description|safe}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {%endfor%}
   {% endblock content%}