<!DOCTYPE html>
{%load static%}
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Promotions & News</title>

                <link rel="stylesheet" href="{%static 'css/font-awesome.min.css'%}">
                <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
                <link rel="stylesheet" href="{%static 'css/mdb.min.css'%}">
                <link rel="stylesheet" href="{%static 'css/animate.min.css'%}">
                <link rel="stylesheet" href="{%static 'css/style.css'%}">
                <link rel="stylesheet" href="{%static 'css/responsive.css'%}">
                <link rel="shortcut icon" type="image/png" href="" />

    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
        {%if request.session.lang == "eng"%}
        <!-- START LARI HEADER -->
        <header id="lari-header" class="w-100">
            <nav class="navbar navbar-expand-lg navbar-light bg-light container">
                <a class="navbar-brand" href="{%url 'home'%}">
                    <img src="{%static 'images/logo-1.png'%}" alt="Lari Exchange">
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="ml-auto my-2 my-lg-0 d-flex align-items-center">
                        <div class="language-switcher dis-inline">
                            <a href="{%url 'lang'%}">عربي<i class="fas fa-globe"></i></a>
                        </div>
                        <div class="dis-inline">
                            <div id="toggle" class="button_container">
                                <span class="top"></span>
                                <span class="middle"></span>
                                <span class="bottom"></span>
                                </button>
                            </div>
                        </div>
                    </div>
    
                </div>
            </nav>
        </header>
        {%else%}
        {%endif%}


    <!-- START PAGE HEAD SECTION -->
    <section class="page-head">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-title">
                        <h3>Promotions & News</h3>
                    </div>
                </div>
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Promotions & News</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="promotions-info">
        <div class="container">
            <div class="promotions-box">
                <div class="header">
                    <h6>
                        Promotions & News
                    </h6>
                    <p>
                        Check Latest Promotions & News
                    </p>
                </div>
                <div class="content">
                    <div class="row">
                            {%for new in news%}
                        <div class="col-12 col-lg-6">
                            <div class="promotion-news-event">
                                <div class="news-events-cards limit-height wow fadeInUp" data-wow-duration="1s"
                                    data-wow-delay="0s">
                                    <div class="card mb-3" style="max-width: 540px;">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <img src={{new.master.image.url}} class="card-img" alt="...">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{new.title}}</h5>
                                                    <p class="card-text">{{new.description|safe}}
                                                    </p>
                                                    <p class="card-text pull-left"><small class="text-muted">{{new.master.date}}</small>
                                                    </p>
                                                    <a href="{%url 'news_details' pk=new.pk %}" class="pull-right"><i
                                                            class="fas fa-chevron-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {%if request.session.lang == "eng"%}
    <!-- START FOOTER -->
    <footer id="lari-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="about-footer">
                            <div class="white-logo">
                                <img src="{% static 'images/logo-1-wht.png' %}" alt="" class="wow fadeInUp" data-wow-duration="1s"
                                    data-wow-delay="0s">
                            </div>
                            <p class="about-footer-desc wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                To meet out the challenges in satisfactory
                                and reliable customer services, we are
                                launching "Paymax Mobile" and "Paymax
                                Online", a mobile/online application
                                services to our customers which are
                                absolutely FREE.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="useful-links">
                            <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".75s">Useful Links</h6>
                            <ul class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                                <li>Privacy & Policy</li>
                                <li>Terms of use</li>
                                <li>Terms & Conditions</li>
                                <li>Charge List</li>
                                <li>FAQ</li>
                                <li>Contact us</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="download-app-social">
                            <div class="download">
                                <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.25s">Download Our App</h6>
                                <div class="download-stores wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">
                                    <div class="stores">
                                        <a href="#"><img src="{%static 'images/App-img/appstore.png'%}" alt=""></a>
                                    </div>
                                    <div class="stores">
                                        <a href="#"><img src="{% static 'images/App-img/android.png'%}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="social-media">
                                <a href="#" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.75s"><i
                                        class="fab fa-facebook-square"></i></a>
                                <a href="#" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s"><i
                                        class="fab fa-twitter-square"></i></a>
                                <a href="#" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.25s"><i
                                        class="fab fa-youtube-square"></i></a>
                                <a href="#" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.5s"><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                            <div class="copyright">
                                <p>© Copyrights 2019 Lari Exchange.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
       
        <div class="overlay" id="overlay">
            <div class="menu-logo">
                <img src="{% static 'images/logo-1-wht.png'%}" alt="">
            </div>
            <nav class="overlay-menu">
                <ul>
                    <li class="active"><a href="{%url 'home'%}">Home</a></li>
                    <li class="hoverzone">
                        <a href="{%url 'about'%}">About</a>
                        <ul class="sub-menu about-submenu">
                            <li><a href="{%url 'ceo'%}">Message from CEO</a></li>
                            <li><a href="{%url 'mission'%}">Mission & Vision</a></li>
                            <li class="active"><a href="{%url 'technology'%}">Technology</a></li>
                            <li><a href="{%url 'partner'%}">Partners</a></li>
                        </ul>
                    </li>
                    <li class="hoverzone">
                        <a href="{%url 'products'%}">Product & Services</a>
                    </li>
                    <li><a href="{%url 'news'%}">PROMOTIONS & NEWS</a></li>
                    <li><a href="{%url 'contact'%}">Contact</a></li>
                    <li><a href="{%url 'faq'%}">FAQ</a></li>
                </ul>
            </nav>
        </div>
        {%else%}
        {%endif%}
    <!-- start the script -->

    <script src="{%static 'js/jquery-3.4.1.min.js'%}"></script>
    <script src="https://kit.fontawesome.com/321722826d.js" crossorigin="anonymous"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/popper.min.js'%}"></script>
    <script src="{%static 'js/mdb.min.js'%}"></script>
    <script src="{%static 'js/wow.min.js'%}"></script>
    <script>
        new WOW().init();
    </script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>


</body>

</html>