{% extends 'base.html' %}
{% block content %}
{%load static%}

    <!-- START PAGE HEAD SECTION -->
    <section class="page-head">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-title">
                        <h3>Promotions & News</h3>
                    </div>
                </div>
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Promotions & News</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="promotions-info">
        <div class="container">
            <div class="promotions-box">
                <div class="header">
                    <h6>
                        Promotions & News
                    </h6>
                    <p>
                        Check Latest Promotions & News
                    </p>
                </div>
                <div class="content">
                    <div class="row">
                            {%for new in news%}
                        <div class="col-12 col-lg-6">
                            <div class="promotion-news-event">
                                <div class="news-events-cards limit-height wow fadeInUp" data-wow-duration="1s"
                                    data-wow-delay="0s">
                                    <div class="card mb-3" style="max-width: 540px;">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <img src={{new.master.image.url}} class="card-img" alt="...">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{new.title}}</h5>
                                                    <p class="card-text">{{new.description|safe}}
                                                    </p>
                                                    <p class="card-text pull-left"><small class="text-muted">{{new.master.date}}</small>
                                                    </p>
                                                    <a href="{%url 'news_details' pk=new.pk %}" class="pull-right"><i
                                                            class="fas fa-chevron-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </section>

   {% endblock content%}