{% extends 'base.html' %}
{% block content %}
{%load static%}

    <section id="single-service-section" class="service-section sec-ptb-100 clearfix">
        <div class="container">
            <div class="row">
                <!-- service-details - start -->
                <div class="col-md-12 col-sm-12">
                    <div class="service-details">
                        <div class="img mb-30">
                            <img src={{new.master.image.url}} alt="image_not_found" class="img-fluid">
                        </div>
                        <div class="service-content mb-50">
                            <h2 class="service-title title-large mb-15">
                                {{new.title}}
                            </h2>
                            <p class="mb-30">
                               {{new.description|safe}}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- service-details - end -->
            </div>
        </div>
    </section>

    {% endblock content%}