{% extends 'base.html' %}
{% block content %}
{%load static%}
{% load i18n %}
    <!-- START PAGE HEAD SECTION -->
    <section class="page-head">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-title">
                        <h3>{% trans "Message from the CEO"%}</h3>
                    </div>
                </div>
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home'%}">{% trans "Home"%}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{% trans "Message from the CEO"%}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="ceo-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ceo-img">
                        <img src={{ceo.master.img.url}} alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="ceo-box">
                        <div class="ceo-header">
                            <h6>
                                {{ceo.title}}
                            </h6>
                            <p>
                                {{ceo.subtitle}}
                            </p>
                        </div>
                        <div class="ceo-content">
                            <p>{{ceo.description|safe}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock content%}