{% extends 'base.html' %}
{% block content %}
{%load static%}
{% load i18n %}
    <!-- START PAGE HEAD SECTION -->
    <section class="page-head">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-title">
                        <h3>{% trans "Partners"%}</h3>
                    </div>
                </div>
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home'%}">{% trans "Home"%}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{% trans "Partners"%}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="Partners-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="Partners-box">
                        <div class="header">
                            <h6>
                                {{main.title}}
                            </h6>
                            <p>
                                {{main.sub_title}}
                            </p>
                        </div>
                        <div class="content">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                {%for partner in partners%}
                                {%if forloop.first%}
                                <li class="nav-item">
                                    <a class="nav-link text-center active" id="home{{forloop.counter}}-tab" data-toggle="tab" href="#home{{forloop.counter}}" role="tab"
                                        aria-controls="home{{forloop.counter}}" aria-selected="true">{{partner.name}}<span>{{partner.country}}</span><span>{{partner.role}}</span></a>
                                </li>
                                {%else%}
                                <li class="nav-item">
                                        <a class="nav-link text-center" id="profile{{forloop.counter}}-tab" data-toggle="tab" href="#profile{{forloop.counter}}" role="tab"
                                        aria-controls="profile{{forloop.counter}}" aria-selected="false">{{partner.name}}<span>{{partner.country}}</span><span>{{partner.role}}</span></a>
                                    </li>
                                {%endif%}
                                {%endfor%}
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                {%for partner in partners%}
                                {%if forloop.first%}
                                <div class="tab-pane fade show active" id="home{{forloop.counter}}" role="tabpanel"
                                    aria-labelledby="home{{forloop.counter}}-tab">
                                    <p>
                                       {{partner.description|safe}}
                                    </p>
                                    <ul class="partner-feat">
                                        {%for point in partner.points.all %}
                                        <li>{{point.point}}</li>
                                        {%endfor%}
                                    </ul>
                                </div>
                                {%else%}
                                <div class="tab-pane fade" id="profile{{forloop.counter}}" role="tabpanel" aria-labelledby="profile{{forloop.counter}}-tab">
                                        <p>
                                                {{partner.description|safe}}
                                        </p>

                                    <ul class="partner-feat">
                                            {%for point in partner.points.all %}
                                            <li>{{point.point}}</li>
                                            {%endfor%}
                                    </ul>
                                </div>
                                {%endif%}
                               {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock content%}