{% extends 'base.html' %}
{% block content %}
{%load static%}

    <!-- START PAGE HEAD SECTION -->
    <section class="page-head">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-title">
                        <h3>Career</h3>
                    </div>
                </div>
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Careers</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-info">
        <div class="container">
            <div class="contact-header text-center">
                <h6>
                    Brief about our work
              </h6>
                {% comment %} <p>
                   Dynamic text -brief about our work- to be added from backend
              </p> {% endcomment %}
            </div>
</div>
    </section>

    <section class="contact-form-sec careers">
        <div class="container">
            <div class="contact-form-box">
                <div class="row">
                    <div class="col col-xs-12"></div>
                    <div class="col col-xs-12">
                        <div class="contact-form">
                            <h6>Apply with basic details</h6>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group">
									<label for="job">Apply for the Job:</label>
										<select name="job" id="gender-select">
											<option value="">--Please choose an option--</option>
											<option value="not listed">Not listed</option>
											{%for job in jobs%}
											<option value="{{job.job_name}}">{{job.job_name}}</option>
                                            {%endfor%}
										</select>
                                </div>
								<div class="form-group">
                                    <input name="info" type="text" class="form-control" id="exampleInputPassword1"
                                        placeholder="Additional applied job details">
                                </div>
								<div class="form-group">
                                    <input name="name" type="text" class="form-control" id="exampleInputPassword1"
                                        placeholder="Your Name">
                                </div>
                                <div class="form-group">
									<label for="Gender">Gender</label>
										<select name="gender" id="gender-select">
											<option value="">--Please choose an option--</option>
											<option value="Male">Male</option>
											<option value="Female">Female</option>
										</select>
                                </div>
								<div class="form-group">
                                    <input name="Date" type="date" class="form-control" id="date2"
                                        aria-describedby="emailHelp" placeholder="Date">
                                </div>
                                <div class="form-group">
                                    <input name="Nationalty" type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Nationalty">
                                </div>
                                <div class="form-group">
                                    <textarea name="Qualifications" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                        placeholder="Qualifications"></textarea>
                                </div>
								<div class="form-group">
                                    <textarea name="Experience" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                        placeholder="Experience"></textarea>
                                </div>
                                <div class="form-group">
                                    <input name="Mobile Number" type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Mobile Number">
                                </div>
								<div class="form-group">
                                    <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Email Address">
                                </div>
                                <button type="submit" class="btn btn-primary">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  {% endblock content%}