{% extends 'base.html' %}
{% block content %}

{%load static%}

    <!-- Start LARI CAROUSEL -->
    <section id="lari-carousel">
        <div id="main-slider" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
                <li data-target="#main-slider" data-slide-to="3"></li>
                <li data-target="#main-slider" data-slide-to="4"></li>
                <li data-target="#main-slider" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner">
                {%for slider in sliders%}
                {%if forloop.first%}
                <div class="carousel-item active " style=" background-image: url({{slider.master.image.url}});">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">Travelflex Card</h5>
                        <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">{{slider.description|safe}}</p>
                    </div>
                </div>
                {%else%}
                <div class="carousel-item" style=" background-image: url({{slider.master.image.url}});">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">{{slider.title}}</h5>
                            <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">{{slider.description|safe}}</p>
                        </div>
                    </div>
                {%endif%}
                {%endfor%}
            </div>
        </div>
    </section>
    <!-- Start LARI CURRENCY NEWS AND CONVERTER -->
    <section id="lari-currency-news">
        <div class="container">
            <div class="row">

                        <!--Table-->


                <div class="col-12 ">
                    <div class="promotion-news-event">
                        <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">Promotions News & Event</h6>
                        <span>Check Latest Promotions & News</span>
                        <div class="news-events-cards limit-height wow fadeInUp" data-wow-duration="1s"
                            data-wow-delay="0s">
                            {%for new in news%}
                            <div class="card mb-12">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <img src={{new.master.image.url}} class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">{{new.title}}</h5>
                                            <p class="card-text">{{new.description|safe}}
                                            </p>
                                            <p class="card-text pull-left"><small class="text-muted">{{new.master.date}}</small>
                                            </p>
                                            <a href="{%url 'news_details' pk=new.pk %}" class="pull-right"><i class="fas fa-chevron-right"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- START PAYMAX SECTION -->
    <section id="lari-paymax" style="background-image: url({{paymax.master.image.url}})">
        <div class="container row">
            <div class="col-6">
                <div class="paymax-content">
                    <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">{{paymax.title}}</h6>
                    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">{{paymax.description|safe|truncatewords:30}}</p>
                    <a href="{% url 'news_details' pk=paymax.pk %}" target="_blank" class="btn btn-light waves-effect waves-light wow fadeInUp" data-wow-duration="1s"
                        data-wow-delay=".5s">Read More</a>
                </div>
            </div>
            <div class="col-6">
                <div class="paymax-content">
                    <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">{{travelex.title}}</h6>
                    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">{{travelex.description|safe|truncatewords:50}}</p>
                    <a href="{% url 'news_details' pk=travelex.pk %}" target="_blank" class="btn btn-light waves-effect waves-light wow fadeInUp" data-wow-duration="1s"
                        data-wow-delay=".5s">Read More</a>
                </div>
            </div>
        </div>
    </section>

    <!-- START PRODUCT SECTION -->
    <section id="lari-products">
        <div class="container">
            <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">Products</h6>
            <span class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">Check our latest products</span>
            <div class="product-cards">
                <div class="row">
                        {%for product in products%}
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Card -->
                        <div class="card wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                            <!-- Card content -->
                            <div class="card-body">
                                <!-- Title -->
                                <h4 class="card-title"><a>{{product.title}}</a>
                                </h4>
                                <!-- Text -->
                                <p class="card-text">{{product.description|safe|truncatewords:50}}</p>
                                <!-- Button -->
                                <a href="{%url 'product_detail' pk=product.pk %}" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                        <!-- Card -->
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </section>
    
    {% endblock content %}
    