{% extends 'base.html' %}
{% block content %}
{%load static%}
{% load i18n %}
    <!-- START PAGE HEAD SECTION -->
    <section class="page-head">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-title">
                        <h3>{% trans "About"%}</h3>
                    </div>
                </div>
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href='{% url 'home'%}'>{% trans "Home"%}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{% trans "About"%}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <!-- START PRODUCT SECTION -->
    <section id="lari-products" class=" product-page">
        <div class="container">
            <div class="header">
                <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">About</h6>
                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">Know about us</p>
            </div>
            <div class="product-cards">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Card -->
                        <div class="card wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                            <!-- Card content -->
                            <div class="card-body">
                                <!-- Title -->
                                <h4 class="card-title"><a>About Lari</a>
                                </h4>
                                <!-- Text -->
                                <p class="card-text">{{about.description|safe|truncatewords:30}}</p>
                                <!-- Button -->
                                <a href="{%url 'about'%}" class="btn btn-primary">{% trans "More"%}</a>
                            </div>
                        </div>
                        <!-- Card -->
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Card -->
                        <div class="card wow fadeInUp" data-wow-duration="1s" data-wow-delay=".75s">
                            <!-- Card content -->
                            <div class="card-body">
                                <!-- Title -->
                                <h4 class="card-title"><a>{% trans "Message from CEO"%}</a>
                                </h4>
                                <!-- Text -->
                                <p class="card-text">{{ceo.description|safe|truncatewords:30}}</p>
                                <!-- Button -->
                                <a href="{%url 'ceo'%}" class="btn btn-primary">{% trans "More"%}</a>
                            </div>
                        </div>
                        <!-- Card -->
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Card -->
                        <div class="card wow fadeInUp" data-wow-duration="1s" data-wow-delay=".75s">
                            <!-- Card content -->
                            <div class="card-body">
                                <!-- Title -->
                                <h4 class="card-title"><a>{% trans "Mission & Vision"%}</a>
                                </h4>
                                <!-- Text -->
                                <p class="card-text">{{mission.description|safe|truncatewords:30}}</p>
                                <!-- Button -->
                                <a href="{%url 'mission'%}" class="btn btn-primary">{% trans "More"%}</a>
                            </div>
                        </div>
                        <!-- Card -->
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Card -->
                        <div class="card wow fadeInUp" data-wow-duration="1s" data-wow-delay=".75s">
                            <!-- Card content -->
                            <div class="card-body">
                                <!-- Title -->
                                <h4 class="card-title"><a>{% trans "Technology"%}</a>
                                </h4>
                                <!-- Text -->
                                <p class="card-text">{{tech.description|safe|truncatewords:30}}</p>
                                <!-- Button -->
                                <a href="{%url 'technology'%}" class="btn btn-primary">{% trans "More"%}</a>
                            </div>
                        </div>
                        <!-- Card -->
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Card -->
                        <div class="card wow fadeInUp" data-wow-duration="1s" data-wow-delay=".75s">
                            <!-- Card content -->
                            <div class="card-body">
                                <!-- Title -->
                                <h4 class="card-title"><a>{% trans "Partners"%}</a>
                                </h4>
                                <!-- Text -->
                                <p class="card-text">{{partner.description|safe|truncatewords:30}}</p>
                                <!-- Button -->
                                <a href="{%url 'partner'%}" class="btn btn-primary">{% trans "More"%}</a>
                            </div>
                        </div>
                        <!-- Card -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock content%}