{% extends 'base.html' %}
{% block content %}
{%load static%}
{% load i18n %}

    <!-- START PAGE HEAD SECTION -->
    <section class="page-head">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-title">
                        <h3>{% trans "FAQ"%}</h3>
                    </div>
                </div>
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home'%}">{% trans "Home"%}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{% trans "FAQ"%}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="faq-info">
        <div class="container">
            <div class="faq-box">
                <div class="header">
                    <h6>
                        {% trans "FAQ"%}
                    </h6>
                    <p>
                        {% trans "Check frequently asked questions"%}
                    </p>
                </div>
                <div class="content">
                    <div id="accordion" role="tablist" class="inner_faq_section">
                        <div class="faq-title">
                            <h3>{% trans "PayMax FAQ"%} :</h3>
                        </div>
                        <div class="row">

                            <div class="col-12">
                                    {%for x in pay%}
                                <div class="card">
                                    <!-- Card Title -->
                                    <div class="card_pagee" role="tab" id="heading{{ forloop.counter }}">
                                        <h5 class="h5-md">
                                            <a data-toggle="collapse" href="#collapse{{ forloop.counter }}" role="button"
                                                aria-controls="collapse{{ forloop.counter }}">
                                                <i class="fa fa-plus"></i>
                                                {{x.question}}
                                            </a>
                                        </h5>
                                    </div>
                                    <!-- Card Content -->
                                    {%if forloop.first%}
                                    <div id="collapse{{ forloop.counter }}" class="collapse" role="tabpanel"
                                        aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="card_cntnt">
                                                <p>{{x.answer}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {%else%}
                                    <div id="collapse{{ forloop.counter }}" class="collapse" role="tabpanel"
                                        aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="card_cntnt">
                                                <p>{{x.answer}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {%endif%}
                                    {%endfor%}
                                </div>
                            </div></div></div></div></div>
                    <div id="accordiontwo" role="tablist" class="inner_faq_section">
                        <div class="faq-title">
                            <h3>{% trans "GCard FAQ"%} :</h3>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {% for y in gc%}
                                <div class="card">
                                    <!-- Card Title -->
                                    <div class="card_pagee" role="tab" id="heading{{forloop.counter|add:50}}">
                                        <h5 class="h5-md">
                                            <a data-toggle="collapse" href="#collapse{{forloop.counter|add:50}}" role="button"
                                                aria-controls="collapse{{forloop.counter|add:50}}">
                                                <i class="fa fa-plus"></i>
                                                {{y.question}}
                                            </a>
                                        </h5>
                                    </div>
                                    <!-- Card Content -->
                                    {%if forloop.first%}
                                    <div id="collapse{{forloop.counter|add:50}}" class="collapse" role="tabpanel"
                                        aria-labelledby="heading{{forloop.counter|add:50}}" data-parent="#accordiontwo">
                                        <div class="card-body">
                                            <div class="card_cntnt">
                                                <p>{{y.answer}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {%else%}
                                    <div id="collapse{{forloop.counter|add:50}}" class="collapse" role="tabpanel"
                                        aria-labelledby="heading{{forloop.counter|add:50}}" data-parent="#accordiontwo">
                                        <div class="card-body">
                                            <div class="card_cntnt">
                                                <p>{{y.answer}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {%endif%}
                                    {%endfor%}
                                </div>
                            </div>
        </div> </div></div</div>
    </section>

    {% endblock content%}