{% extends 'base.html' %}
{% block content %}
{%load static%}
{% load i18n %}
    <!-- START PAGE HEAD SECTION -->
    <section class="page-head">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-title">
                        <h3>{% trans "Schedule of Charges"%}</h3>
                    </div>
                </div>
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home'%}">{% trans "Home"%}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{% trans "Schedule of Charges"%}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <!-- START POLICY SECTION -->
    <section id="lari-policy">
        <div class="container">
            <div class="header">
                <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">{% trans "Schedule of Charges"%}</h6>
                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">{% trans "Check Our Schedule of Charges"%}</p>
            </div>
            <div class="col-12">
                <div class="faq-info">
                    <div class="faq-box">
                        <div class="content">
                            <div id="accordion" role="tablist" class="inner_faq_section">
                            {%for master in masters%}
                                <div class="card">
                                    <!-- Card Title -->
                                    <div class="card_pagee" role="tab" id="heading{{forloop.counter}}">
                                        <h5 class="h5-md">
                                            <a data-toggle="collapse" href="#collapse{{forloop.counter}}" role="button"
                                                 aria-controls="collapse{{forloop.counter}}">
                                                {{master.headline}}
                                            </a>
                                        </h5>
                                    </div>
                                    <!-- Card Content -->
                                    {% if forloop.first %}
                                    <div id="collapse{{forloop.counter}}" class="collapse show" role="tabpanel"
                                    {% else %}
                                    <div id="collapse{{forloop.counter}}" class="collapse" role="tabpanel"
                                    {% endif %}
                                        aria-labelledby="heading{{forloop.counter}}" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="card_cntnt">
                                                <section class="rates-info">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="rates-box">
                                                                    <div class="content">
                                                                        <section id="lari-currency-news"
                                                                            class="rates-page">
                                                                            <div class="container">
                                                                                <div class="row">
                                                                                    <div class="col-12">
                                                                                        <div class="rates-calc">
                                                                                            <!--Table-->
                                                                                            <div
                                                                                                class="today-rates-table">
                                                                                                <table id="tablePreview"
                                                                                                    class="table table-striped">
                                                                                                    <!--Table head-->
                                                                                                    <thead>
                                                                                                        <tr>
                                                                                                            <th>{% trans "Sl. No."%}
                                                                                                            </th>
                                                                                                            <th>{{master.table_headline}}
                                                                                                            </th>
                                                                                                            <th>{% trans "Fee(in AED)"%}
                                                                                                            </th>
                                                                                                           
                                                                                                        </tr>
                                                                                                    </thead>
                                                                                                    <!--Table head-->
                                                                                                    <!--Table body-->
                                                                                                    <tbody>
                                                                                                    {%for detail in details%}
                                                                                                    {%if detail.Headline.headline == master.headline%}
                                                                                                        <tr>
                                                                                                            <td>{{forloop.counter}}</td>
                                                                                                            <td>{{detail.name}}
                                                                                                            </td>
                                                                                                            <td>{{detail.price}}
                                                                                                            </td>
                                                                                                        </tr>                                                                                                    
                                                                                                    {%endif%}
                                                                                                    {%endfor%}
                                                                                                    </tbody>
                                                                                                    <!--Table body-->
                                                                                                </table>
                                                                                            </div>
                                                                                            <!--Table-->
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </section>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                {%endfor%}
                              </div>
                            </div>
                            </div>
                            </div>
                            </div>

    </section>
   {% endblock content%}