{% extends 'base.html' %}
{% block content %}
{%load static%}

    <!-- START PAGE HEAD SECTION -->
    <section class="page-head">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-title">
                        <h3>Download Center</h3>
                    </div>
                </div>
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Download Center</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-info">
        <div class="container">
            <div class="contact-header text-center">
                <h6>
                   Our Download Center
                </h6>
                {% comment %} <p>
                    Lorem ipsum download center lorem ipsum
                </p> {% endcomment %}
            </div>
        </div>
    </section>
    <section class="download-page">
        <div class="container">
            <div class="row">
                {% for file in files %}
                <div class="col-sm-3">
                    <div class="download-figure">
                        <i class="far fa-file-alt"></i>
                        <div class="file-data">
                            <h3>{{file.name}}</h3>
                            <p>{{file.description|truncatewords:30}}</p>
                        </div>
                        <a href="{{file.master.pdf_file.url}}" role="button" class="btn">DOWNLOAD</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock content %}
    