{% extends 'base.html' %}
{% block content %}
{%load static%}


    <!-- START PAGE HEAD SECTION -->
    <section class="page-head">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-title">
                        <h3>Todays's rates</h3>
                    </div>
                </div>
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Todays's rates</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="rates-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="rates-box">
                        <div class="header">
                            <h6>
                                Todays's rates
                            </h6>
                            <p>
                                ( Last Updated On Monday, 03 at 8:30pm )
                            </p>
                        </div>
                        <div class="content">
                            <section id="lari-currency-news" class="rates-page">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="rates-calc">
                                                <!--Table-->
                                                <div class="today-rates-table">
                                                    <table id="tablePreview" class="table table-striped">
                                                        <!--Table head-->
                                                        <thead class="wow fadeInUp" data-wow-duration="1s"
                                                            data-wow-delay=".25s">
                                                            <tr>
                                                                <th>Currency</th>
                                                                <th>Transfer</th>
                                                                <th>Cash Buy</th>
                                                                <th>Cash Sell</th>
                                                            </tr>
                                                        </thead>
                                                        <!--Table head-->
                                                        <!--Table body-->
                                                        <tbody class="wow fadeInUp" data-wow-duration="1s"
                                                            data-wow-delay=".5s">
                                                            <tr>
                                                                <td>USD</td>
                                                                <td>3.26</td>
                                                                <td>3.26</td>
                                                                <td>3.26</td>
                                                            </tr>
                                                            <tr>
                                                                <td>AED</td>
                                                                <td>3.26</td>
                                                                <td>3.26</td>
                                                                <td>3.26</td>
                                                            </tr>
                                                            <tr>
                                                                <td>EURO</td>
                                                                <td>3.26</td>
                                                                <td>3.26</td>
                                                                <td>3.26</td>
                                                            </tr>
                                                            <tr>
                                                                <td>SAR</td>
                                                                <td>3.26</td>
                                                                <td>3.26</td>
                                                                <td>3.26</td>
                                                            </tr>
                                                            <tr>
                                                                <td>EGP</td>
                                                                <td>3.26</td>
                                                                <td>3.26</td>
                                                                <td>3.26</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Riyal</td>
                                                                <td>3.26</td>
                                                                <td>3.26</td>
                                                                <td>3.26</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Dinar</td>
                                                                <td>3.26</td>
                                                                <td>3.26</td>
                                                                <td>3.26</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Dinar</td>
                                                                <td>3.26</td>
                                                                <td>3.26</td>
                                                                <td>3.26</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Dinar</td>
                                                                <td>3.26</td>
                                                                <td>3.26</td>
                                                                <td>3.26</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Dinar</td>
                                                                <td>3.26</td>
                                                                <td>3.26</td>
                                                                <td>3.26</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Dinar</td>
                                                                <td>3.26</td>
                                                                <td>3.26</td>
                                                                <td>3.26</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Dinar</td>
                                                                <td>3.26</td>
                                                                <td>3.26</td>
                                                                <td>3.26</td>
                                                            </tr>
                                                        </tbody>
                                                        <!--Table body-->
                                                    </table>
                                                </div>
                                                <!--Table-->
                                                <div class="currency-calc col-sm-12 col-lg-6">
                                                    <span>LIVE</span>
                                                    <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                                                        Currency Calculator</h6>
                                                    <div class="from-to-currency">
                                                            <form method="POST">
                                                                    {% csrf_token %}
                                                                <div class="form-group">
                                                                    <input type="text" placeholder="Enter amount" class="wow fadeInUp"
                                                                        data-wow-duration="1s" data-wow-delay="0s" name="first_amount" id="first" onkeyup="changeAmount()" >
                                                                    <select name="" id="first_cur" class="wow fadeInUp" data-wow-duration="1s"
                                                                        data-wow-delay=".25s" name="first_currency" onchange="changeAmount()">
                                                                        <option value="USD">USD</option>
                                                                        <option value="AED">AED</option>
                                                                        <option value="SAR">SAR</option>
                                                                        <option value="EUR">EUR</option>
                                                                        <option value="EGP">EGP</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="text" placeholder="Converted amount" class="wow fadeInUp"
                                                                        data-wow-duration="1s" data-wow-delay=".5s" name="second_amount" value="" id="second" readonly>
                                                                    <select name="" id="second_cur" class="wow fadeInUp" data-wow-duration="1s"
                                                                        data-wow-delay="1s" name="second_currency" onchange="changeAmount()">
                                                                        <option value="USD">USD</option>
                                                                        <option value="AED">AED</option>
                                                                        <option value="SAR">SAR</option>
                                                                        <option value="EUR">EUR</option>
                                                                        <option value="EGP">EGP</option>
                                                                    </select>
                                                                </div>
                                                            </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   {% endblock content%}