{% extends 'base.html' %}
{% block content %}
{%load static%}
{% load i18n %}
    <!-- START PAGE HEAD SECTION -->
    <section class="page-head">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-title">
                        <h3>{% trans "Forex"%}</h3>
                    </div>
                </div>
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home'%}">{% trans "Home"%}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{% trans "Forex"%}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section id="single-service-section" class="service-section sec-ptb-100 clearfix">
        <div class="container">
            <div class="row">

                <!-- sidebar-section - start -->
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="sidebar-section">

                        <!-- service-menu - start -->
                        <div class="service-menu mb-30">
                            <h2 class="sidebar-title">{% trans "All Services"%}</h2>
                            <ul>
                                {%for prod in products%}
                                {%if prod.pk == product.pk %}
                                <li class="active"><a href="{%url 'product_detail' pk=prod.pk %}">{{prod.title}}</a></li>
                                {%else%}
                                <li ><a href="{%url 'product_detail' pk=prod.pk %}">{{prod.title}}</a></li>
                                {%endif%}
                                {%endfor%}
                            </ul>
                        </div>
                        <!-- service-menu - end -->

                    </div>
                </div>
                <!-- sidebar-section - end -->

                <!-- service-details - start -->
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="service-details">
                        <div class="img mb-30">
                            <img src={{product.master.image.url}} alt="image_not_found" class="img-fluid">
                        </div>
                        <div class="service-content mb-50">
                            <h2 class="service-title title-large mb-15">
                                {{product.title}}
                            </h2>
                            <p class="mb-30">
                                {{product.description|safe}}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- service-details - end -->
            </div>
        </div>
    </section>

    {% endblock content%}