{% extends 'base.html' %}
{% block content %}
{%load static%}



    <!-- START PAGE HEAD SECTION -->
    <section class="page-head">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-title">
                        <h3>technology</h3>
                    </div>
                </div>
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">technology</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="technology-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="technology-box">
                        <div class="header">
                            <h6>
                                {{techno.main_title}}
                            </h6>
                            <p>
                                {{techno.main_description|safe}}
                            </p>
                        </div>
                        <div class="content">
                            <div class="list-tech">
                                <p>Lari Exchange implements the following technologies:</p>
                                <ul class="row">
                                    {% for techno_ in technos %}
                                    <li class="col-sm-6 col-md-3"><span>{{techno_.title}}</span> </li>
                                    {%endfor%}
                                </ul>
                            </div>
                            <div class="row para-sec">
                                <div class="col-sm-6">
                                    <div class="technology-img">
                                        <img src={{techno.master.img.url}} alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="paragraphs">
                                        <p>{{techno.sub_description|safe}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   {% endblock content%}