{% extends 'base.html' %}
{% block content %}
{%load static%}


    <!-- START PAGE HEAD SECTION -->
    <section class="page-head">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-title">
                        <h3>Privacy Policy</h3>
                    </div>
                </div>
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <!-- START POLICY SECTION -->
    <section id="lari-policy">
        <div class="container">
            <div class="header">
                <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">Pivacy & Policy</h6>
                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">Check Our Policy</p>
            </div>
            <article class="policy-paragraph">
                <ul style=" font-weight: 300 ;  font-size: 12px;">
                    <li>
                        <span>Lari Exchange</span> places utmost importance on the privacy and protection of its clients
                        and
                        considers
                        this to be a critical part of its services.In the course of serving its customers,
                        <span>Lari Exchange</span>
                        acquires, stores and transmits customer
                        information that customers may regard as private or sensitive. Some of this information -
                        such
                        as
                        the customer's name, address, telephone number, and credit card data - is provided to Lari
                        Exchange
                        by its customers in order to receive services. Other information - such as the customer's
                        account
                        status, choice of services, and customer logs - is created and maintained by <span>Lari
                            Exchange</span>
                        in
                        the
                        normal course of providing services.</li>
                    <li>
                        <span>Lari Exchange</span> will protect the confidentiality of its customers' information,
                        account
                        information
                        and personal details to the fullest extent possible and consistent with the law. To protect the
                        loss, misuse, and alteration of information that is collected from customers, <span>Lari
                            Exchange</span> has
                        appropriate physical, electronic, and managerial procedures in place.
                        <span>Lari Exchange</span> will not disclose any customer information to third-parties nor will
                        it use this
                        information for purposes other than to maintain customers’ database or to update customers on
                        service changes (such as new features).</li>
                    <li>
                        The following exceptions apply to this rule: It is required to cooperate with interception
                        orders,
                        warrants, or other legal process that <span>Lari Exchange</span> determines in its sole
                        discretion to be
                        valid
                        and enforceable; and it is necessary to provide to a law enforcement agency when the contents
                        are
                        inadvertently obtained by <span>Lari Exchange</span> and appear to pertain to the commission of
                        a crime.</li>
                </ul>
            </article>
        </div>
    </section>

    </section>
    {% endblock content%}