<!DOCTYPE html>
{%load static%}
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lari Exchange</title>

    <link rel="stylesheet" href="{%static 'css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/mdb.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/animate.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/responsive.css'%}">
    <link rel="shortcut icon" type="image/png" href="" />

    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    {%if request.session.lang == "eng"%}
    <!-- START LARI HEADER -->
    <header id="lari-header" class="w-100">
        <nav class="navbar navbar-expand-lg navbar-light bg-light container">
            <a class="navbar-brand" href="{%url 'home'%}">
                <img src="{%static 'images/logo-1.png'%}" alt="Lari Exchange">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="ml-auto my-2 my-lg-0 d-flex align-items-center">
                    <div class="language-switcher dis-inline">
                        <a href="{%url 'lang'%}">عربي<i class="fas fa-globe"></i></a>
                    </div>
                    <div class="dis-inline">
                        <div id="toggle" class="button_container">
                            <span class="top"></span>
                            <span class="middle"></span>
                            <span class="bottom"></span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    </header>
    {%else%}
    {%endif%}
    <!-- START PAGE HEAD SECTION -->
    <section class="page-head">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-title">
                        <h3>Terms And Conditions</h3>
                    </div>
                </div>
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Terms And Conditions</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <!-- START TERMS OF USE SECTION -->
    <section id="lari-terms-conditions">
        <div class="container">
            <div class="header">
                <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">Terms And Conditions</h6>
                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">Check Our Terms And Conditions</p>
            </div>
            <article class="terms-conditions-paragraph">
                <ol>
                    <li>
                        Payment against remittance is subject to laws prevailing in either countries, i.e. UAE, or the
                        payee country at the time of application and payment of remittance proceeds. The customer
                        understands and accepts that <span>Lari Exchange</span> shall not be liable for any anticipatory
                        loss or loss
                        of profit, special consequential, punitive, exemplary, incidental, or indirect damages of any
                        kind resulting from any delay /non-payment/ under-payment or non-delivery.
                    </li>
                    <li>
                        <span>Lari Exchange</span> is not responsible for any incorrect information in the application
                        once the
                        remittance is released by cashier. <span>Lari Exchange</span> reserves the right to charge the
                        customer for
                        any change done thereafter.
                    </li>
                    <li>
                        In case of courier drafts, it is understood by the customer/applicant that while <span>Lari
                            Exchange</span>
                        shall take responsible steps as necessary to ensure the delivery of draft, the courier is sent
                        on behalf of and at the sole risk of the customer/ applicant. No liability is undertaken by Lari
                        Exchange on account of non-delivery, wrong delivery, misplacement, damage, loss, or confiscation
                        of the couriered document.
                    </li>
                    <li>
                        In case the DRAFT/TT remains unpaid, the customer can only reclaim the value thereof at the
                        Exchange's buying rate of the day when the refund takes place, or the original rate at which the
                        transaction was made, which ever is lesser. The reclaim shall only be for the principle amount
                        (excluding charges) and will not exceed the original amount paid by the customer.
                    </li>
                    <li>
                        Any claim of refund cannot be effected until:
                        <ul>
                            <li>The customer produces a valid ID to prove that he is the remitter and</li>
                            <li>The customer returns the original DD/TT application counterfoil and</li>
                            <li>The Exchange has received definite advice from their correspondents that the DD/ TT is
                                unpaid and th e original instructions have been cancelled and</li>
                            <li>If such delay / non-payment is not due to any of the following circumstances:
                                <ul>
                                    <li>If through no fault of the Exchange, i.e. if the customer does not have enough
                                        collected funds to make the transfer.</li>
                                    <li>If circumstances beyond the control of the company (including but not limited to
                                        the acts of Force Majure and/ or technical computer breakdowns, and / or
                                        Computer Virus within our company and/or any correspondent) delay the transfer,
                                        despite the maintenance of reasonable procedures by the exchange to avoid such
                                        delays. Computer Virus within our company and/or any correspondent delays the
                                        transfer, despite the maintenance of reasonable procedures by the exchange to
                                        avoid delays.</li>
                                    <li>If the Exchange has not received proper authorization and notices.</li>
                                    <li>If the Exchange had\s been prevented from doing so by the court order, or other
                                        Governmental actions of originating institution /correspondent
                                        institution/paying institution.</li>
                                </ul>
                            </li>
                        </ul>

                    </li>
                    <li>The customer confirms that funds for this remittance are made available from legal sources,
                        allowed as per the UAE laws. This remittance is not used to finance any kind of terrorism /
                        money laundering activity.
                    </li>
                    <li>
                        This remittance is committed to applicable due diligence measures advised by the Central Bank of
                        the UAE. The Customer undertakes to provide further relevant support details/ documents if
                        required during course of future audits/ investigations.
                    </li>
                </ol>
            </article>
        </div>
    </section>

    </section>
    <!-- START FOOTER -->
    <footer id="lari-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-footer">
                        <div class="white-logo">
                            <img src="images/dark-logo.png" alt="" class="wow fadeInUp" data-wow-duration="1s"
                                data-wow-delay="0s">
                        </div>
                        <p class="about-footer-desc wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                            To meet out the challenges in satisfactory
                            and reliable customer services, we are
                            launching "Paymax Mobile" and "Paymax
                            Online", a mobile/online application
                            services to our customers which are
                            absolutely FREE.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="useful-links">
                        <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".75s">Useful Links</h6>
                        <ul class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                            <li><a href="{%url 'privacy'%}">Privacy & Policy</a></li>
                            <li><a href="{%url 'use'%}">Terms of use</a></li>
                            <li><a href = "{%url 'condition'%}">Terms & Conditions</a></li>
                            <li><a href="">Charge List</a></li>
                            <li><a href="{%url 'faq'%}">FAQ</a></li>
                            <li><a href="{%url 'contact'%}">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="download-app-social">
                        <div class="download">
                            <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.25s">Download Our App</h6>
                            <div class="download-stores wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">
                                <div class="stores">
                                    <a href="https://apps.apple.com/ae/app/paymax/id951789652"><img src="{%static 'images/App-img/appstore.png'%}" alt=""></a>
                                </div>
                                <div class="stores">
                                    <a href="https://play.google.com/store/apps/details?id=ae.s4m.paymax"><img src="{% static 'images/App-img/android.png'%}" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="social-media">
                            <a href="https://www.facebook.com/LariExchangeUAE" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.75s"><i
                                    class="fab fa-facebook-square"></i></a>
                            <a href="https://twitter.com/LariExchangeUAE" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s"><i
                                    class="fab fa-twitter-square"></i></a>
                            <a href="#" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.25s"><i
                                    class="fab fa-youtube-square"></i></a>
                            <a href="https://www.instagram.com/LariExchangeUAE" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.5s"><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                        <div class="copyright">
                            <p>© Copyrights 2020 Lari Exchange.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="overlay" id="overlay">
        <div class="menu-logo">
            <img src="{% static 'images/logo-1-wht.png'%}" alt="">
        </div>
        <nav class="overlay-menu">
            <ul>
                <li class=><a href="{%url 'home'%}">Home</a></li>
                <li class="hoverzone">
                    <a href="{%url 'aboutmain'%}">About</a>
                    <ul class="sub-menu about-submenu">
                        <li><a href="{%url 'ceo'%}">Message from CEO</a></li>
                        <li><a href="{%url 'mission'%}">Mission & Vision</a></li>
                        <li class="active"><a href="{%url 'technology'%}">Technology</a></li>
                        <li><a href="{%url 'partner'%}">Partners</a></li>
                    </ul>
                </li>
                <li class="hoverzone">
                    <a href="{%url 'products'%}">Product & Services</a>
                    <ul class="sub-menu">
                        <li><a href="#">FOREX</a></li>
                        <li><a href="#">Remittances</a></li>
                        <li class="active"><a href="#">Bill Payments</a></li>
                        <li><a href="#">Inter Emirates transfer</a></li>
                        <li><a href="#">Credit Card Cash Advance</a></li>
                        <li><a href="#">Money Products</a></li>
                        <li><a href="#">Payroll</a></li>
                        <li><a href="#">Prepaid cards</a></li>
                        <li><a href="#">Delivery Channels</a></li>
                    </ul>
                </li>
                <li><a href="{%url 'news'%}">Promotions & News</a></li>
                <li><a href="{%url 'contact'%}">Contact us</a></li>
                <li><a href="{%url 'faq'%}">FAQ</a></li>
                <li class=><a href="{%url 'branches'%}">Branches</a></li>
                <li class=><a href="{%url 'atm'%}">ATM</a></li>
                <li class=><a href="{%url 'jobs'%}">Careers</a></li>
            </ul>
        </nav>
    </div>
    <!-- start the script -->


    <script src="{%static 'js/jquery-3.4.1.min.js'%}"></script>
    <script src="https://kit.fontawesome.com/321722826d.js" crossorigin="anonymous"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/popper.min.js'%}"></script>
    <script src="{%static 'js/mdb.min.js'%}"></script>
    <script src="{%static 'js/wow.min.js'%}"></script>
    <script>
        new WOW().init();
    </script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>

</body>

</html>