{% extends 'base.html' %}
{% block content %}
{%load static%}

    <!-- START PAGE HEAD SECTION -->
    <section class="page-head">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-title">
                        <h3>Terms Of Use</h3>
                    </div>
                </div>
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Terms Of Use</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <!-- START TERMS OF USE SECTION -->
    <section id="lari-terms-use">
        <div class="container">
            <div class="header">
                <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">Terms Of Use</h6>
                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">Check Our Terms Of Use</p>
            </div>
            <article class="terms-use-paragraph">
                <ul>
                    <li style=" font-weight: 300 ;">
                        The website (www.lariexchange.com) is owned and maintained by <span>Lari Exchange</span>. This
                        website is
                        offered to you on the condition that you accept without modification the terms, conditions,
                        disclaimers, Privacy Policies contained herein. Your use of the website constitutes your consent
                        to all such disclaimers, Privacy Policies and other terms & conditions.
                    </li>
                    <li style=" font-weight: 300 ;">
                        <span>Lari Exchange</span> has no obligation to monitor the services. However, <span>Lari
                            Exchange</span> reserves the
                        right to review all material posted and to remove any material at its sole discretion. Lari
                        Exchange reserves the right to terminate the user’s access to any or all of the services at any
                        time without notice and for any reason whatsoever.
                        <span>Lari Exchange</span> reserves the right at all times to disclose any information necessary
                        to satisfy
                        any applicable law, regulation, legal process or governmental request, or to edit, refuse to
                        post or to remove any information or materials, in whole or in part, at <span>Lari
                            Exchange</span>’s sole
                        discretion.

                    </li>
                    <li style=" font-weight: 300 ;"><span>Lari Exchange</span> also reserves the right, at its sole discretion, to terminate the
                        access to any or
                        all <span>Lari Exchange</span> websites and related services or any portion thereof at any time,
                        without
                        notice.
                        The user hereby consents, expresses and agrees that he has read and fully understands the
                        Privacy Policy, disclaimer of <span>Lari Exchange</span> contained in the <span>Lari
                            Exchange</span> website and he hereby
                        consents that the terms and contents of such Privacy Policy are acceptable to him.
                    </li>
                </ul>
            </article>
        </div>
    </section>

    </section>
    {% endblock content%}